.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: $backdrop-transition;

  background-color: $backdrop-bg-color;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  overflow-y: scroll;
  left: 50%;
  width: 450px;
  padding: 40px;

  background: $form-bg-color;
  box-shadow: $modal-shadow;
  border-radius: 4px;
  transform: $modal-transform;
  transition: transform $smoothly;

  .is-hidden & {
    transform: $modal-transform;
  }

  @include for-size(tablet) {
    top: 0;
    transform: $modal-transform;
  }
  @include for-size(desktop) {
    width: 528px;
    top: 0;
    transform: $modal-transform;
  }
}
.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $form-bg-color;

  background-color: $backdrop-bg-color;

  &:hover,
  &:focus {
    fill: $warn-color;
  }
}
.modal__headline {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: $primary-text-color;
  @include for-size(desktop) {
    font-size: 20px;
    line-height: 1.15;
  }
}
