.hero {
  background-color: $primary-bg-color;
  background-image: url(../img/hero-bg.png);
  @include bcg(contain, no-repeat);
  background-position: center;
  &__btn {
    margin-bottom: 20px;
    @include for-size(desktop) {
      display: none;
    }
  }
  &__container {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    @include for-size(desktop) {
      display: flex;
      justify-content: space-between;
      text-align: unset;
    }
  }
  &__title {
    font-size: 5rem;
    font-weight: bold;
    color: $primary-text-color;
    text-transform: uppercase;
    & span {
      color: $header-accent-color;
    }
  }
  &__info {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 35px;
  }
  &__content {
    @include for-size(desktop) {
      width: 50%;
    }
  }
  &__form {
    display: none;
    background-color: $form-bg-color;
    background-image: url(../img/triangle.png);
    background-repeat: no-repeat;
    background-size: fill;
    background-position: left 50% top -50%;
    text-align: center;
    @include for-size(desktop) {
      display: block;
      max-width: 30%;
      background-size: fill;
      background-position: left 50% top -12%;
      overflow: hidden;
      padding: 0 20px 30px;
      text-align: center;
    }
  }
}

.logo {
  margin-bottom: 35px;
  &__img {
    width: 300px;
  }
}

.assets {
  &__item {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 3rem;
    margin-bottom: 5px;
    color: $secondary-text-color;
    &::before {
      content: url(../img/check.png);
    }
    &--leaf::before {
      content: url(../img/leaf.png);
    }
  }
  &__text {
    font-size: 1.5rem;
  }
}
